@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Playfair+Display%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Poppins%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-vZ7k2JiWnHYau: rgba(11, 166, 245, 0.77);
  --plasmic-token-brand: var(--token-vZ7k2JiWnHYau);
}

.plasmic_default_styles {
  --mixin-N-lMn6BMLJ9ZI_font-family: "IBM Plex Sans", sans-serif;
  --mixin-N-lMn6BMLJ9ZI_font-size: 14px;
  --mixin-N-lMn6BMLJ9ZI_font-weight: normal;
  --mixin-N-lMn6BMLJ9ZI_font-style: normal;
  --mixin-N-lMn6BMLJ9ZI_color: #def5ef;
  --mixin-N-lMn6BMLJ9ZI_text-align: left;
  --mixin-N-lMn6BMLJ9ZI_text-transform: none;
  --mixin-N-lMn6BMLJ9ZI_line-height: 1.5;
  --mixin-N-lMn6BMLJ9ZI_letter-spacing: normal;
  --mixin-N-lMn6BMLJ9ZI_white-space: pre-wrap;
  --mixin-N-lMn6BMLJ9ZI_user-select: text;
  --mixin-NdQqmNxPB-dHn_font-family: "Inter", sans-serif;
  --mixin-NdQqmNxPB-dHn_color: #000000;
  --mixin-NdQqmNxPB-dHn_font-size: 72px;
  --mixin-NdQqmNxPB-dHn_font-weight: 900;
  --mixin-NdQqmNxPB-dHn_letter-spacing: -4px;
  --mixin-NdQqmNxPB-dHn_line-height: 1;
  --mixin-NdQqmNxPB-dHn_white-space: pre-wrap;
  --mixin-fr-2g-KN7wZTs_font-family: "Inter", sans-serif;
  --mixin-fr-2g-KN7wZTs_color: #000000;
  --mixin-fr-2g-KN7wZTs_font-size: 48px;
  --mixin-fr-2g-KN7wZTs_font-weight: 700;
  --mixin-fr-2g-KN7wZTs_letter-spacing: -1px;
  --mixin-fr-2g-KN7wZTs_line-height: 1.1;
  --mixin-fr-2g-KN7wZTs_white-space: pre-wrap;
  --mixin-PlQCflZLaflbM_font-family: "Inter", sans-serif;
  --mixin-PlQCflZLaflbM_color: #000000;
  --mixin-PlQCflZLaflbM_font-size: 32px;
  --mixin-PlQCflZLaflbM_font-weight: 600;
  --mixin-PlQCflZLaflbM_letter-spacing: -0.8px;
  --mixin-PlQCflZLaflbM_line-height: 1.2;
  --mixin-PlQCflZLaflbM_white-space: pre-wrap;
  --mixin-unkG_HeLw-nr__font-family: "Inter", sans-serif;
  --mixin-unkG_HeLw-nr__color: #000000;
  --mixin-unkG_HeLw-nr__font-size: 24px;
  --mixin-unkG_HeLw-nr__font-weight: 600;
  --mixin-unkG_HeLw-nr__letter-spacing: -0.5px;
  --mixin-unkG_HeLw-nr__line-height: 1.3;
  --mixin-unkG_HeLw-nr__white-space: pre-wrap;
  --mixin-LKvDPIuER9xUV_font-family: "Inter", sans-serif;
  --mixin-LKvDPIuER9xUV_color: #000000;
  --mixin-LKvDPIuER9xUV_font-size: 20px;
  --mixin-LKvDPIuER9xUV_font-weight: 600;
  --mixin-LKvDPIuER9xUV_letter-spacing: -0.3px;
  --mixin-LKvDPIuER9xUV_line-height: 1.5;
  --mixin-LKvDPIuER9xUV_white-space: pre-wrap;
  --mixin-li5sVA-SnVYHY_font-family: "Inter", sans-serif;
  --mixin-li5sVA-SnVYHY_color: #000000;
  --mixin-li5sVA-SnVYHY_font-size: 16px;
  --mixin-li5sVA-SnVYHY_font-weight: 600;
  --mixin-li5sVA-SnVYHY_line-height: 1.5;
  --mixin-li5sVA-SnVYHY_white-space: pre-wrap;
  --mixin-ckO5jIf39Fuok_border-left-color: #dddddd;
  --mixin-ckO5jIf39Fuok_border-left-style: solid;
  --mixin-ckO5jIf39Fuok_border-left-width: 3px;
  --mixin-ckO5jIf39Fuok_color: #888888;
  --mixin-ckO5jIf39Fuok_padding-left: 10px;
  --mixin-ckO5jIf39Fuok_white-space: pre-wrap;
  --mixin-k40LnE9QLB-Fq_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-k40LnE9QLB-Fq_border-bottom-color: #dddddd;
  --mixin-k40LnE9QLB-Fq_border-bottom-style: solid;
  --mixin-k40LnE9QLB-Fq_border-bottom-width: 1px;
  --mixin-k40LnE9QLB-Fq_border-left-color: #dddddd;
  --mixin-k40LnE9QLB-Fq_border-left-style: solid;
  --mixin-k40LnE9QLB-Fq_border-left-width: 1px;
  --mixin-k40LnE9QLB-Fq_border-right-color: #dddddd;
  --mixin-k40LnE9QLB-Fq_border-right-style: solid;
  --mixin-k40LnE9QLB-Fq_border-right-width: 1px;
  --mixin-k40LnE9QLB-Fq_border-top-color: #dddddd;
  --mixin-k40LnE9QLB-Fq_border-top-style: solid;
  --mixin-k40LnE9QLB-Fq_border-top-width: 1px;
  --mixin-k40LnE9QLB-Fq_border-bottom-left-radius: 3px;
  --mixin-k40LnE9QLB-Fq_border-bottom-right-radius: 3px;
  --mixin-k40LnE9QLB-Fq_border-top-left-radius: 3px;
  --mixin-k40LnE9QLB-Fq_border-top-right-radius: 3px;
  --mixin-k40LnE9QLB-Fq_font-family: "Inconsolata";
  --mixin-k40LnE9QLB-Fq_padding-bottom: 1px;
  --mixin-k40LnE9QLB-Fq_padding-left: 4px;
  --mixin-k40LnE9QLB-Fq_padding-right: 4px;
  --mixin-k40LnE9QLB-Fq_padding-top: 1px;
  --mixin-k40LnE9QLB-Fq_white-space: pre-wrap;
  --mixin-F0w4JAkSoGP-7_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-F0w4JAkSoGP-7_border-bottom-color: #dddddd;
  --mixin-F0w4JAkSoGP-7_border-bottom-style: solid;
  --mixin-F0w4JAkSoGP-7_border-bottom-width: 1px;
  --mixin-F0w4JAkSoGP-7_border-left-color: #dddddd;
  --mixin-F0w4JAkSoGP-7_border-left-style: solid;
  --mixin-F0w4JAkSoGP-7_border-left-width: 1px;
  --mixin-F0w4JAkSoGP-7_border-right-color: #dddddd;
  --mixin-F0w4JAkSoGP-7_border-right-style: solid;
  --mixin-F0w4JAkSoGP-7_border-right-width: 1px;
  --mixin-F0w4JAkSoGP-7_border-top-color: #dddddd;
  --mixin-F0w4JAkSoGP-7_border-top-style: solid;
  --mixin-F0w4JAkSoGP-7_border-top-width: 1px;
  --mixin-F0w4JAkSoGP-7_border-bottom-left-radius: 3px;
  --mixin-F0w4JAkSoGP-7_border-bottom-right-radius: 3px;
  --mixin-F0w4JAkSoGP-7_border-top-left-radius: 3px;
  --mixin-F0w4JAkSoGP-7_border-top-right-radius: 3px;
  --mixin-F0w4JAkSoGP-7_font-family: "Inconsolata";
  --mixin-F0w4JAkSoGP-7_padding-bottom: 3px;
  --mixin-F0w4JAkSoGP-7_padding-left: 6px;
  --mixin-F0w4JAkSoGP-7_padding-right: 6px;
  --mixin-F0w4JAkSoGP-7_padding-top: 3px;
  --mixin-F0w4JAkSoGP-7_white-space: pre-wrap;
  --mixin-fecNCPBdJeb8H_display: flex;
  --mixin-fecNCPBdJeb8H_flex-direction: column;
  --mixin-fecNCPBdJeb8H_align-items: stretch;
  --mixin-fecNCPBdJeb8H_justify-content: flex-start;
  --mixin-fecNCPBdJeb8H_list-style-position: outside;
  --mixin-fecNCPBdJeb8H_padding-left: 40px;
  --mixin-fecNCPBdJeb8H_position: relative;
  --mixin-fecNCPBdJeb8H_list-style-type: decimal;
  --mixin-fecNCPBdJeb8H_white-space: pre-wrap;
  --mixin-T6eZeDvyoYmro_display: flex;
  --mixin-T6eZeDvyoYmro_flex-direction: column;
  --mixin-T6eZeDvyoYmro_align-items: stretch;
  --mixin-T6eZeDvyoYmro_justify-content: flex-start;
  --mixin-T6eZeDvyoYmro_list-style-position: outside;
  --mixin-T6eZeDvyoYmro_padding-left: 40px;
  --mixin-T6eZeDvyoYmro_position: relative;
  --mixin-T6eZeDvyoYmro_list-style-type: disc;
  --mixin-T6eZeDvyoYmro_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-N-lMn6BMLJ9ZI_font-family);
  font-size: var(--mixin-N-lMn6BMLJ9ZI_font-size);
  font-weight: var(--mixin-N-lMn6BMLJ9ZI_font-weight);
  font-style: var(--mixin-N-lMn6BMLJ9ZI_font-style);
  color: var(--mixin-N-lMn6BMLJ9ZI_color);
  text-align: var(--mixin-N-lMn6BMLJ9ZI_text-align);
  text-transform: var(--mixin-N-lMn6BMLJ9ZI_text-transform);
  line-height: var(--mixin-N-lMn6BMLJ9ZI_line-height);
  letter-spacing: var(--mixin-N-lMn6BMLJ9ZI_letter-spacing);
  white-space: var(--mixin-N-lMn6BMLJ9ZI_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset :global(.__wab_expr_html_text) h1),
:where(.root_reset.plasmic_default__h1) {
  font-family: var(--mixin-NdQqmNxPB-dHn_font-family);
  color: var(--mixin-NdQqmNxPB-dHn_color);
  font-size: var(--mixin-NdQqmNxPB-dHn_font-size);
  font-weight: var(--mixin-NdQqmNxPB-dHn_font-weight);
  letter-spacing: var(--mixin-NdQqmNxPB-dHn_letter-spacing);
  line-height: var(--mixin-NdQqmNxPB-dHn_line-height);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset :global(.__wab_expr_html_text) h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-fr-2g-KN7wZTs_font-family);
  color: var(--mixin-fr-2g-KN7wZTs_color);
  font-size: var(--mixin-fr-2g-KN7wZTs_font-size);
  font-weight: var(--mixin-fr-2g-KN7wZTs_font-weight);
  letter-spacing: var(--mixin-fr-2g-KN7wZTs_letter-spacing);
  line-height: var(--mixin-fr-2g-KN7wZTs_line-height);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset :global(.__wab_expr_html_text) h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-PlQCflZLaflbM_font-family);
  color: var(--mixin-PlQCflZLaflbM_color);
  font-size: var(--mixin-PlQCflZLaflbM_font-size);
  font-weight: var(--mixin-PlQCflZLaflbM_font-weight);
  letter-spacing: var(--mixin-PlQCflZLaflbM_letter-spacing);
  line-height: var(--mixin-PlQCflZLaflbM_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset :global(.__wab_expr_html_text) h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-unkG_HeLw-nr__font-family);
  color: var(--mixin-unkG_HeLw-nr__color);
  font-size: var(--mixin-unkG_HeLw-nr__font-size);
  font-weight: var(--mixin-unkG_HeLw-nr__font-weight);
  letter-spacing: var(--mixin-unkG_HeLw-nr__letter-spacing);
  line-height: var(--mixin-unkG_HeLw-nr__line-height);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset :global(.__wab_expr_html_text) h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-LKvDPIuER9xUV_font-family);
  color: var(--mixin-LKvDPIuER9xUV_color);
  font-size: var(--mixin-LKvDPIuER9xUV_font-size);
  font-weight: var(--mixin-LKvDPIuER9xUV_font-weight);
  letter-spacing: var(--mixin-LKvDPIuER9xUV_letter-spacing);
  line-height: var(--mixin-LKvDPIuER9xUV_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset :global(.__wab_expr_html_text) h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-li5sVA-SnVYHY_font-family);
  color: var(--mixin-li5sVA-SnVYHY_color);
  font-size: var(--mixin-li5sVA-SnVYHY_font-size);
  font-weight: var(--mixin-li5sVA-SnVYHY_font-weight);
  line-height: var(--mixin-li5sVA-SnVYHY_line-height);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset :global(.__wab_expr_html_text) blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-ckO5jIf39Fuok_color);
  padding-left: var(--mixin-ckO5jIf39Fuok_padding-left);
  border-left: var(--mixin-ckO5jIf39Fuok_border-left-width)
    var(--mixin-ckO5jIf39Fuok_border-left-style)
    var(--mixin-ckO5jIf39Fuok_border-left-color);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset :global(.__wab_expr_html_text) code),
:where(.root_reset.plasmic_default__code) {
  background: #f8f8f8;
  font-family: var(--mixin-k40LnE9QLB-Fq_font-family);
  border-radius: var(--mixin-k40LnE9QLB-Fq_border-top-left-radius)
    var(--mixin-k40LnE9QLB-Fq_border-top-right-radius)
    var(--mixin-k40LnE9QLB-Fq_border-bottom-right-radius)
    var(--mixin-k40LnE9QLB-Fq_border-bottom-left-radius);
  padding: var(--mixin-k40LnE9QLB-Fq_padding-top)
    var(--mixin-k40LnE9QLB-Fq_padding-right)
    var(--mixin-k40LnE9QLB-Fq_padding-bottom)
    var(--mixin-k40LnE9QLB-Fq_padding-left);
  border-top: var(--mixin-k40LnE9QLB-Fq_border-top-width)
    var(--mixin-k40LnE9QLB-Fq_border-top-style)
    var(--mixin-k40LnE9QLB-Fq_border-top-color);
  border-right: var(--mixin-k40LnE9QLB-Fq_border-right-width)
    var(--mixin-k40LnE9QLB-Fq_border-right-style)
    var(--mixin-k40LnE9QLB-Fq_border-right-color);
  border-bottom: var(--mixin-k40LnE9QLB-Fq_border-bottom-width)
    var(--mixin-k40LnE9QLB-Fq_border-bottom-style)
    var(--mixin-k40LnE9QLB-Fq_border-bottom-color);
  border-left: var(--mixin-k40LnE9QLB-Fq_border-left-width)
    var(--mixin-k40LnE9QLB-Fq_border-left-style)
    var(--mixin-k40LnE9QLB-Fq_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset :global(.__wab_expr_html_text) pre),
:where(.root_reset.plasmic_default__pre) {
  background: #f8f8f8;
  font-family: var(--mixin-F0w4JAkSoGP-7_font-family);
  border-radius: var(--mixin-F0w4JAkSoGP-7_border-top-left-radius)
    var(--mixin-F0w4JAkSoGP-7_border-top-right-radius)
    var(--mixin-F0w4JAkSoGP-7_border-bottom-right-radius)
    var(--mixin-F0w4JAkSoGP-7_border-bottom-left-radius);
  padding: var(--mixin-F0w4JAkSoGP-7_padding-top)
    var(--mixin-F0w4JAkSoGP-7_padding-right)
    var(--mixin-F0w4JAkSoGP-7_padding-bottom)
    var(--mixin-F0w4JAkSoGP-7_padding-left);
  border-top: var(--mixin-F0w4JAkSoGP-7_border-top-width)
    var(--mixin-F0w4JAkSoGP-7_border-top-style)
    var(--mixin-F0w4JAkSoGP-7_border-top-color);
  border-right: var(--mixin-F0w4JAkSoGP-7_border-right-width)
    var(--mixin-F0w4JAkSoGP-7_border-right-style)
    var(--mixin-F0w4JAkSoGP-7_border-right-color);
  border-bottom: var(--mixin-F0w4JAkSoGP-7_border-bottom-width)
    var(--mixin-F0w4JAkSoGP-7_border-bottom-style)
    var(--mixin-F0w4JAkSoGP-7_border-bottom-color);
  border-left: var(--mixin-F0w4JAkSoGP-7_border-left-width)
    var(--mixin-F0w4JAkSoGP-7_border-left-style)
    var(--mixin-F0w4JAkSoGP-7_border-left-color);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset :global(.__wab_expr_html_text) ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-fecNCPBdJeb8H_display);
  flex-direction: var(--mixin-fecNCPBdJeb8H_flex-direction);
  align-items: var(--mixin-fecNCPBdJeb8H_align-items);
  justify-content: var(--mixin-fecNCPBdJeb8H_justify-content);
  list-style-position: var(--mixin-fecNCPBdJeb8H_list-style-position);
  padding-left: var(--mixin-fecNCPBdJeb8H_padding-left);
  position: var(--mixin-fecNCPBdJeb8H_position);
  list-style-type: var(--mixin-fecNCPBdJeb8H_list-style-type);
  flex-column-gap: var(--mixin-fecNCPBdJeb8H_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset :global(.__wab_expr_html_text) ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-T6eZeDvyoYmro_display);
  flex-direction: var(--mixin-T6eZeDvyoYmro_flex-direction);
  align-items: var(--mixin-T6eZeDvyoYmro_align-items);
  justify-content: var(--mixin-T6eZeDvyoYmro_justify-content);
  list-style-position: var(--mixin-T6eZeDvyoYmro_list-style-position);
  padding-left: var(--mixin-T6eZeDvyoYmro_padding-left);
  position: var(--mixin-T6eZeDvyoYmro_position);
  list-style-type: var(--mixin-T6eZeDvyoYmro_list-style-type);
  flex-column-gap: var(--mixin-T6eZeDvyoYmro_flex-column-gap);
}
